[Unit]
Description=bot starter broker telegram
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3.6 /home/bot/bot_starter.py
WorkingDirectory=/home/bot/
Restart=always

[Install]
WantedBy=multi-user.target
