[Unit]
Description=scan broker
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3.6 /home/scan/run.py
WorkingDirectory=/home/scan/
Restart=always

[Install]
WantedBy=multi-user.target
